
@{
    ViewBag.Title = "YeniDers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" >
   <div>
       <label >
           Ders Adı
       </label>
       <input type="text" class="form-control" name="DersAd"/>
   </div>
    <div>
        <button class="btn btn-primary" style="margin-top:10px">Ders Ekle</button>
    </div>

</form>

